{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "jest": true
  },
  "extends": "standard",
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["jest"],
  "rules": {
    "quotes": [2, "double", { "allowTemplateLiterals": true }]
  }
}
